@{
    string currentPage = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Plugins/bxSlider/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/CSS/main.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Softgun Zonen</h1>
        </header>
        <main>
            <nav>
                <div>
                    <ul>
                        <li><a href="/Home/Index" @(currentPage == "index" || currentPage == "" ? "class=active" : "")>Home</a></li>
                        <li><a href="/Home/Products" @(currentPage == "products" ? "class=active" : "")>Produkter</a></li>
                        <li>Butikken</li>
                        <li>Kontakt</li>
                        <li>
                            @if (Session["Member"] == null)
                            {
                                <a href="/Home/Login">Login</a>
                            }
                            else
                            {
                                <a href="/Home/UserProfile">Bruger Profil</a>       
                            }
                        </li>
                    </ul>
                </div>
                <div>
                    <input type="text" name="searchQuery" />
                    <input type="submit" name="Søg" class="btn" />
                </div>
            </nav>
            <div id="mainContainer">
                @RenderBody()
            </div>
        </main>
        <footer>
            @Html.Action("FooterInfo", "Home")
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                pager: false,
                controls: false,
                auto: true
            });
        });
    </script>
    @RenderSection("JS", false)
</body>
</html>
